

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 0;
}
footer {
  color: #aaa;
  font-size: 85%;
  font-weight: 200;
  text-align: center;
}

.about p {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 200;
}

.goterminal {
	height: 400px;
	margin-left: 0px;
	border-radius: 5px;
	color: #ddd;
	font-weight: 200;
}

.main-container {
  margin-top: 100px;
}


.navbar .navbar-inner {
      border: thin solid white;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }



.navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
    }

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    #myCarousel.carousel {
      margin-bottom: -80px;
    }
    .carousel .carousel-inner {
      border-bottom: thin solid #333;
      box-shadow: 0 0 10px 3px #000;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 450px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 450px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 110px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel-caption {
      color: #ddd;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }








